html
	head
		title= 'users'
	body
		ul
			li
				a(href= '/users/login')='login'
			li
				a(href= '/users/register')='register'
			li
				a(href= '/users/logout')='logout'
			li
				a(href = '/users/facebook')='Login with Facebook'